.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 90vh repeat(6, 100vh);
}

.one {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.two {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.three {
  grid-column: 1/-1;
  grid-row: 3/4;
}

.four {
  grid-column: 1/-1;
  grid-row: 4/5;
}

.five {
  grid-column: 1/-1;
  grid-row: 5/6;
}

.six {
  grid-column: 1/-1;
  grid-row: 6/7;
}

.seven {
  grid-column: 1/-1;
  grid-row: 7/8;
}
