/* Styling som gäller för hela sidan */
* {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  filter: drop-shadow(0 1vw 0.5vw rgba(0,0,0,0.2));
  scroll-behavior: smooth;
  text-decoration: none;
}

/* Styling för navbar*/
#navbar {
  width: 100%;
  background-color: rgba(47, 47, 47);
  display: flex;
  align-items: center;
  height: 7.1vh;
}

.pagename {
  color: white;
  font-size: 2.5vw;
  padding-bottom: 2vh;
  padding-top: 2vh;
  margin-left: 2vw;
}

.logo {
  width: 6vw;
  transform: scaleX(-1);
  margin-right: 30vw;
}

/* Styling för länkarna i navbaren, de placeras med hjälp av flexbox*/
#navbar a {
  color: white;
  border: 2px white solid;
  padding: 0.3em;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  margin-right: 2vw;
  border-radius: 5px;
  width: 8vw;
  height: 3vh;
  padding-top: 1vh;
}

/* Anpassar storleken av länkarnas knappar när skärmens bredd blir mindre än 800 pixels */
@media (max-width: 800px) {
  #navbar a {
    width: 12vw;
    margin-right: 1vw;
    font-size: 0.8em;
  }
}

/* Ändrar knapparnas färg när musen hovrar över*/
.navbarlink:hover {
  background-color: rgba(199, 196, 197, 0.59);
}

.f16intro {
  width: 100%;
  height: 93vh;
}

/* Grå bakgrunden bakom DCS logan*/
.dcs1 {
  width: 50vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.69);
  position: absolute;
  margin-left: 25vw;
  margin-top: 25vh;
}

/* DCS logan */
.dcs2 {
  width: 80%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 5vh;
  padding-bottom: 10%;
}

/* Ändrar storleken av DCS logan när skärmens bredd blir mindre än 1000 pixel*/
@media (max-width: 1000px) {
  .dcs1 {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
  }
}


.one {
  display: flex;
}

/* Styling och placering för upp/ned pilarna*/
.d1 {
  width: 3.5vmax;
  height: auto;
}

.d1:hover {
  opacity: 0.6;
}

.d1l {
  position: absolute;
  margin-left: 48.25vw;
  margin-top: 86vh;
}

.u1 {
  width: 3.5vmax;
  height: auto;
  transform: scaleY(-1);
}

.u1:hover {
  opacity: 0.6;
}

.u1l {
  position: absolute;
  margin-left: 48.25vw;
  margin-top: 3vh;
}
/* Styling för pilarna tar slut */

/* Video som fyller hela bakgrunden på section två */
#myVideo {
  position: fixed;
  right: 0;
  min-width: 100%;
  height: 93vh;
}

/* Snap scrolling som gör så att man tas upp eller ned en hel section varje gång man scrollar */
.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  max-height: 93vh;
}

/* Klass som bestämmer vad snap scrollingen ska snapa till */
.scrolljump {
  scroll-snap-align: start;
}

/* Slideshow på section 2 */
.mySlides {
  width: 75vw;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  margin-left: 12.5vw;
  margin-top: 10vh;
  overflow-y:auto;
  border-radius: 20px;
}

/* pilarna som styr slideshown */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: 27.5vh;
  width: 3vw;
  height: 3vh;
}

.next {
  right: 0;
  margin-right: 7.5vw;
  transform: rotate(-90deg);
}

.prev {
  margin-left: 7.5vw;
  transform: rotate(90deg);
}

.prev:hover {
  opacity: 0.5;
}

.next:hover {
  opacity: 0.5;
}
/* Styling för pilarna tar slut */

/* Bestämmer placering på listan som används för att indikera vilken slide man är på*/
ol {
  width:100%;
  margin-left: 33.75vw;
  position: absolute;
  bottom: 0;
}

/* Gör varje list item till en vit cirkel */
ol li{
  background: white;
  border-radius: 50%;
  display: inline-block;
  width:2vw;
  height:2vh;
}

/* Byter färg på list item cirkeln som indikerar den aktuella sliden till röd */
.red {
  background-color: red;
}

.dcsinfotext {
  color: white;
  font-size: 2.5vmax;
  margin-top: 4vh;
  margin-left: 2vw;
  margin-bottom: 2vh;
}

/* Gör texten i slideshown mindre när skärmens bredd blir mindre än 600 pixel*/
@media (max-width: 600px) {
  .dcsinfotext {
    font-size: 2.3vmax;
  }
}

.nojs {
  margin-top: 90vh;
  margin-right: 1vw;
  float: right;
  color: red;
  font-size: 1vw;
  border: 1px solid white;
}

.slidecontent {
  display: block;
  font-size: 2vw;
  margin-bottom: 10vh;
  margin-left: 1vw;
  margin-top: 2vh;
}
/* Bakgrund för section 3 */
#three {
  background-image: url(../img/clouds.gif);
  background-size: cover;
  background-attachment: fixed;;
}

/* Rubrik på section 3 */
.paircraft {
  font-size: 3.6vw;
  width: 45vw;
  color: white;
  margin-left: 27.5vw;
  margin-top: 9vh;
  text-shadow: -2px 2px 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000;
}

/* Placering av bilderna på flygplan med flexbox */
.flygplanplacement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60vh;
  width: 80vw;
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 5vw;
}

/* Styling för bilderna */
.plane {
  width: 20vw;
  height: 70%;
  border: solid 4px white;
  border-radius: 10px;
  transition: 200ms;
  display: flex;
}

.planebutton:hover {
  filter: grayscale(0.5);
}

/* Bakgrund på sida 2 */
.pagetwo {
  background-image: url(../img/peace.jpg);
  width: 100vw;
  height: 100vh;
  background-size: cover;
}

/* knapp tillbaka till sida 1 */
.back {
  width: 100vw;
  height: 10vh;
  background-color: red;
  color: white;
  font-size: 4.5vw;
  position: fixed;
  text-align: center;
  padding-bottom: 3vh;
  border: 2px white solid;
  margin-top: 87vh;
}

.back:hover {
  background-color: rgba(255, 102, 102, 0.95)
}
